.not-found {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &-text {
        font-size: 4rem;
    }
    &-icon {
        font-size: 10rem;
    }
}